@import 'tailwindcss';

@font-face {
  font-family: 'Inter:Extra Bold';
  src: url('https://static.figma.com/font/Inter_1') format('woff2');
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: 'Inter:Regular';
  src: url('https://static.figma.com/font/Inter_1') format('woff2');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Inter:Bold';
  src: url('https://static.figma.com/font/Inter_1') format('woff2');
  font-style: normal;
  font-weight: 700;
}
